[user]
    name = Larry Lv
    email = larrylv1990@gmail.com
[core]
    excludesfile = /Users/larry/.gitignore
    pager = less -+FRSX -FRX
    editor = vim
    autocrlf = input
    safecrlf = true
    whitespace = cr-at-eol
[alias]
    st = status
    ci = commit
    br = branch
    co = checkout
    sb = show-branch
    lg = log --stat
    last = log --stat -1
    diffstat = diff --stat -r
    wdiff = diff --word-diff
    changes = diff --name-status -r
    unstage = reset HEAD --
    hist = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ad,%an)%Creset' --abbrev-commit --date=short
    type = cat-file -t
    dump = cat-file -p
[merge]
    conflictstyle = diff3
    tool = vimdiff
[push]
    default = upstream
[color]
    ui = true
[i18n]
	commitEncoding = utf8
	logOutputEncoding = utf8
