# Global snippets

# (c) holds no legal value ;)
snippet c)
	`&enc[:2] == "utf" ? "©" : "(c)"` Copyright `strftime("%Y")` ${1:`g:snips_author`}. All Rights Reserved.${2}
snippet date
	`strftime("%Y-%m-%d")`
snippet cr
	#
	#  Copyright `&enc[:2] == "utf" ? "©" : "(c)"` `strftime("%Y")`, Larry Lv <larrylv1990@gmail.com>
	#  All Rights Reserved.
	#

	${1}

